$mainBlueColor: #33375f;
$backgroundBlackColor: #181818;
$buttonColor: #4A59E9;
$lightFontColor: #fff;
$darkFontColor: #000;
$blueFontColor: #858EE3;
$successFontColor: #65D73D;
$errorFontColor: #D73D3D;
$warningFontColor: #D7993D;
$Montserrat: 'Montserrat', 'sans-serif';
$Minigap: 'Minigap', 'sans-serif';